
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDepartmentLabel" translate="originnoApp.department.home.createOrEditLabel">Create or edit a Department</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="department.id" readonly />
        </div>
        <div class="form-group">
            <label translate="originnoApp.department.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="department.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="originnoApp.department.logo" for="field_logo">Logo</label>
            <input type="text" class="form-control" name="logo" id="field_logo"
                    ng-model="department.logo"
                     />
        </div>
        <div class="form-group">
            <label translate="originnoApp.department.descriptions" for="field_descriptions">Descriptions</label>
            <input type="text" class="form-control" name="descriptions" id="field_descriptions"
                    ng-model="department.descriptions"
                     />
        </div>
        <div class="form-group">
            <label translate="originnoApp.department.createdAt" for="field_createdAt">CreatedAt</label>
            <input type="datetime-local" class="form-control" name="createdAt" id="field_createdAt"
                    ng-model="department.createdAt"
                     />
        </div>
        <div class="form-group">
            <label translate="originnoApp.department.updatedAt" for="field_updatedAt">UpdatedAt</label>
            <input type="datetime-local" class="form-control" name="updatedAt" id="field_updatedAt"
                    ng-model="department.updatedAt"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
